body {
    font-family: 'Gowun Dodum', sans-serif;
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("/static/img/egg.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.main-header {
  width: 100%;
  height: 80px;
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
   "a b b c . . . ";

#logo {
  grid-area: a;
  object-fit: cover;
  width: 100px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;
}

#logo img{
  height: 35px;
}

#left-nav {
  grid-area: b;
  padding: 0 30px 0 15px;
}

#left-nav a {
  color: black;
  text-decoration: none;
  margin: 8px;
}

#right-nav {
  grid-area: c;
  padding: 0 40px 0 40px;
}

#right-nav a {
  color: black;
  text-decoration: none;
  margin: 5px;
}

#right-nav img {
  height: 35px;
}

.container {
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 15px;
    padding-top: 50px;
    display: flex;
    background-color: white;
}

/* Columns */
.left-column {
  width: 65%;
  text-align: center;
  position: relative;
    margin-right: 40px;
    margin-top: 30px;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

/* food-content */
.food-content {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.food-content span {
  font-size: 20px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.food-content h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.food-content p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.ingredient {
  margin-bottom: 30px;
}

.ingredient p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.like-box {
  display: flex;
  align-items: center;
}

.like-box span {
    font-size: 20px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
    padding: 10px;
}

.like-box img {
    padding: 10px;
}

#cart-btn {
  display: inline-block;
  background-color: #8592e6;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;

}
.cart-btn:hover {
  background-color: #7986db;
}
.commant-div{
    margin: auto;
    text-align: center;
    max-width: 1200px;
    width: 90%;
    background-color: indianred;
    height: 150px;
    display: flex;
    min-width: 910px;


}
.commant-main{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding:20px;
    background-color: white;
    text-align: left;
    align-items: center;
   width: 100%;
    }
.commant-contain{
    margin-bottom:30px;
    display: none;
}
.line{

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    color: black;

    font-size: 25px;
    font-weight: bolder !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    /*        height: 4.8em;*/
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*최대라인 개수정하는 코드*/
    -webkit-box-orient: vertical;




}
.left-div{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:20px;
    background-color: white;
    min-width: 330px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-flow: column;


}
.id-box{
    height: 50%;
    font-size: 25px;
    text-align: left;
}
.button-box{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.delete-button{
    margin-left: 10%;
    color: #358ED7;

}
.create-button{

    margin-left: 50px;
}

.commant-footer {
   margin : 15px;
    margin-right:30px;
    display: flex;
    position: relative;

    padding:20px;
    background-color: white;
    text-align: left;
    align-items: center;
   width: 100%;
}
.text_area{
    height: 100%;
    width:100%;
}
.insert_button{
    margin: 30px;
    width: 50px;

}