@font-face {
      src : url("/static/img/BMHANNAPro.ttf");
      font-family: "Hanna"
}
#whole {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /*background-image: url("/static/img/korean-food.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    position: relative;
}

#whole::after{
    height: 100vh;
    width: 100vw;
    content: "";
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/static/img/korean-food2.jpg");
    background-position: center;
    background-size: cover;
    position : absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.88;
}

#container {
    height: 100vh;
    width: 70%;
    margin-left: 12%;

}

#top_container {
    width: 100%;
    padding-left: 3%;
    margin-top: 5%;
}

#top_container .logo {
    width: 25%;
}

#mid_container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.font{
    font-family: "Hanna";
    color : white;
    font-size: 4rem;
}

