/*#main_container {*/
/*    margin: 0;*/
/*    vertical-align: top;*/
/*    box-sizing: border-box;*/
/*    list-style-type: circle;*/
/*    margin-block-start: 0px;*/
/*    margin-block-end: 0px;*/
/*    padding-top: 20%;*/
/*    margin-inline-end: 0px;*/
/*    padding-inline-start: 40px;*/
/*    line-height: 1.42857143;*/
/*}*/

/* HEADER */

.main {
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 3rem;
    z-index: 5;
}


#base_header {
    display: none;
}

#main-header-image {
    position: relative;

    width: 100%;
    height: 20rem;
    background-image: url("/static/img/back.gif");

    background-size: 100% 100%;
    align-items: center;
}

#mamiy-image {
    position: absolute;
    top: 20%;
    height: 10rem;

}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
   "a b b c . . . ";
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
    z-index: 5;
    background-color: white;
}

#logo {
    grid-area: a;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    padding-left: 30px;
    padding-top: 0px;
}

#logo img {
    height: 35px;
}

#left-nav {
    grid-area: b;
    padding: 0 30px 0 15px;
}

#left-nav a {
    color: black;
    text-decoration: none;
    margin: 8px;
}

#right-nav {
    grid-area: c;
    padding: 0 40px 0 40px;
}

#right-nav a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

#right-nav img {
    height: 35px;
}

/*#message {*/
/*  width: 300px;*/
/*  height: 300px;*/
/*  padding: 400px 0 0 80px;*/
/*  font-weight: bold;*/
/*  font-size: x-large;*/
/*}*/

/* MAIN CONTIANER */
.main-container {
    padding: 50px;
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(9, minmax(150px, 1fr));
    width: 150px;
    height: 150px;
}

.box a {
    transition: transform .3s;
}

.box #name {
    position: absolute;
    color: black;
    opacity: 0;
    bottom: 0;
}

.box img {
    max-width: 100%;
    max-width: 100%;
}

.box a:hover #name {
    opacity: 1;
}

.box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.box img {
    border-radius: 2px;
}

.footer {
    padding: 20px;
    text-align: center;
    margin: 10px;
}


/*


/*자동 추가 css*/


/*레시피 li 스타일------------------------------------------------------------------------*/
.rasipi_li_list {
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0 12px 40px 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
}

.rasipi_img_box {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    list-style: none;
    text-align: -webkit-match-parent;
}

.rasipi_img {
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.rasipi-imgs {
    max-width: 100%;
    height: 200px;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
}

.rasipi_commant_box {
    padding: 10px 2px;
    box-sizing: border-box;
    display: block;
    list-style: none;


}

.rasipi_commant {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
    margin: 0 0 6px 0;
    color: #000;
    text-align: left;
    font-size: 15px;
    box-sizing: border-box;
    height: 50px;

}

.name_box {
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    vertical-align: 0;
    padding: 0 1px 7px 0;
    font-weight: 300;

}

.name_img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 4px -2px 0;
    vertical-align: text-bottom;
    box-sizing: border-box;

}

.rasipi_poot_box {
    vertical-align: super;
    line-height: 1;
    margin: 0 0 9px 0;
    box-sizing: border-box;
    display: block;

}

.heart_box {
    vertical-align: 1px;
    box-sizing: border-box;

}

.heart_count {
    vertical-align: middle;
    color: #999;
    font-size: 13px;
    margin-left: 2px;
    font-weight: 300;
    box-sizing: border-box;

}

#rasipi_container {
    text-align: center;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 1.42857143;

}

#rasipi_container > p {
    color: red;
}

#recommend {
    color: red;
}

/*.cate_list {*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    -webkit-text-size-adjust: 100%;*/
/*    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*    border-spacing: 0;*/
/*    border-collapse: collapse;*/
/*    box-sizing: border-box;*/
/*    background-color: transparent;*/
/*    text-decoration: none;*/
/*    padding: 3px 8px 4px;*/
/*    color: #666;*/
/*    vertical-align: middle;*/
/*    font-size: 15px;*/
/*    line-height: 1;*/
/*    font-weight: 300;*/
/*}*/
.cate_list {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #666;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: 15px;
    padding: 8px 0;
    line-height: 1;
    height: 41px;
    margin-left: 100px;

}

.cate_list>.active {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    text-decoration: none;
    padding: 3px 8px 4px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    color: #fff;
    background: rosybrown;
    margin: 0;
    border-radius: 16px;
}

.cate_list > a {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    padding: 3px 8px 4px;
    color: #666;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
}