<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamison | {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/gloves.png">
    <link rel="stylesheet" href="/static/css/reset.css">
   <link rel='stylesheet' href="{% static 'css/base.css' %}" media='screen'>
    <script src="/static/js/base.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
<h1>홈페이지기능</h1>

{% block main %}
{% endblock %}

</body>
</html>