{% extends "base.html" %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block head %}

 <link rel='stylesheet' href="{% static 'css/detail.css' %}" media='screen'>
<script src="/static/js/detail.js"></script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-header">
            <div id="logo" href="/"><img src="../static/img/logo.png" alt="Logo Image"></div>
            <nav id="left-nav">
                <a href="">홈</a>
                <a href="">아침</a>
                <a href="">점심</a>
                <a href="">저녁</a>
                <a href="">디저트</a>
            </nav>
            <nav id="right-nav">
                <a href="#">🔍</a>
                <a href="#">My page</a>
            </nav>
        </div>
    </div>
    <main class="container">
        <div class="left-column">
            <img src="/static/img/pikachu2.png" alt="음식 사진">
        </div>
        <div class="right-column">
            <div class="food-content">
                <span>음식 분류</span>
                <h1>음식 이름</h1>
                <p>음식 설명</p>
            </div>
            <div class="ingredient">
                <span>재료</span>
                <p>음식 재료 나열</p>
            </div>
            <div class="like-box">
                <img src="/static/img/like@3x.png"
                     onclick="this.src=this.src.match(/like@3x/)?'../static/img/like3@3x.png':'../static/img/like@3x.png';">
                <span>키워드</span>
                <a href="#" class="cart-btn">댓글</a>
            </div>
        </div>
    </main>
{% endblock %}