{% extends "base.html" %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block head %}

 <link rel='stylesheet' href="{% static 'css/detail.css' %}" media='screen'>
<script src="/static/js/detail.js"></script>
{% endblock %}

{% block main %}
    <div class="left-wrapper">
        <div id="name">
        </div>
        <div id="content">
        </div>
        <div id="keyword"></div>
        <div id="comment">
        </div>
        <div id="ingredient"></div>

    <div class="right-wrapper">
        <div id="food_img"></div>
    </div>
    </div>
{% endblock %}