{% extends "base.html" %}
{% load static %}
{% block title %}Detail{% endblock %}

{% block head %}

 <link rel='stylesheet' href="{% static 'css/detail.css' %}" media='screen'>

{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-header">
            <a href="/main"><div id="logo" ><img src="../static/img/logo.png" alt="Logo Image"></div></a>
            <nav id="left-nav">
                <a href="">홈</a>
                <a href="">아침</a>
                <a href="">점심</a>
                <a href="">저녁</a>
                <a href="">디저트</a>
            </nav>
            <nav id="right-nav">
                <a href="#">🔍</a>
                <a href="#">My page</a>
            </nav>
        </div>
    </div>
    <main class="container">
        <div class="left-column">
            <img src="{{ tweet.img_src }}" alt="음식 사진">
        </div>
        <div class="right-column">
            <div class="food-content">
                <span>{{tag}}</span>
                <h1>{{ tweet.title}}</h1>
                <p>{{ tweet.des}}</p>
            </div>
            <div class=" name     = request.GET.get('name')
      products = Product.objects.filter(name=name).values()
      products = list(products)

      return JsonResponse({'message':'SUCCESS', 'products':products}, status=200)
    except ValueError:
      return JsonResponse({'message':'VALUE_ERROR'}, status=400)ingredient">
                <span>재료</span>
                <p>{{ tweet.ing}}</p>
            </div>
            <div class="like-box">
                    {% if user in tweet.like %}
                        <a href="/tweet/comment/like/{{ tweet.id }}">
                            <img class ="like-box-img" src="../static/img/like3@3x.png">
                        </a>
                    {% else %}
                        <a href="/tweet/comment/like/{{ tweet.id }}">
                             <img class ="like-box-img" src="../static/img/like@3x.png">
                        </a>

                    {% endif %}
                <img src="/static/img/like@3x.png"
                     onclick="this.src=this.src.match(/like@3x/)?'../static/img/like3@3x.png':'../static/img/like@3x.png';">

                <span>{{ tag }}</span>
                <button id="cart-btn">댓글</button>
            </div>

        </div>

    <div>

    </div>
    </main>
    {% for ul in  comment%}
        <div class=commant-contain>
            <div class="commant-div">
                <div class="commant-main">
                    <div class="line">{{ ul.comment }}
                    </div>
                </div>
                <div class="left-div">
                    <div class="id-box"> {{ ul.author }}</div>
                    <div class="button-box">
                        {% if ul.author == user %}
                            <button class="delete-button" onclick=location.href="/tweet/delete/{{ tw.id }}">삭제</button>
                        {% else %}
                        <button class="create-button">수정</button>
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
    {% endfor %}
    <form action="comment/{{ tweet.id }}" method="post">
    {% csrf_token %}
        {% if error %}
            <div role="alert" class="commant-div">
                {{ error }}
            </div>
        {% endif %}
        <div class="commant-div">
            <div class="commant-footer">
                <input type="text"  name="comment" class="text_area" placeholder="댓글을 입력하세요">
                <button class="insert_button">입력</button>

            </div>
        </div>
    </form>
      <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}