{% extends "base.html" %}
{% load static %}
{% block title %}Main{% endblock %}

{% block head %}

    <link rel='stylesheet' href="{% static 'css/main.css' %}" media='screen'>
{% endblock %}

{% block main %}
    {#     <ul id=main_container>#}
    {##}
    {#        <!--   <div class ="rasipi_item"><div class ="rasipi_main"><p>fweffffffffffffffff</p></div></div>-->#}
    {#    </ul>#}

    <!-- HEADER -->



    <div class="main">
        <div class="main-header">
            <div id="logo" OnClick="location.href ='/main'" style="cursor:pointer;"><img src="../static/img/logo.png" alt="Logo Image"></div>
            <nav id="left-nav">
                <a href="">홈</a>
                <a href="">아침</a>
                <a href="">점심</a>
                <a href="">저녁</a>
                <a href="">디저트</a>
            </nav>
            <nav id="right-nav">
                <a href="#">🔍</a>
                <a href="/mypage">My page</a>
            </nav>
        </div>
    </div>
    <div id="main-header-image">

        <img id="mamiy-image" src="../static/img/mamiy_charic.png">
    </div>


<div id ="contain">
<div id="fillter-contain">
    <div class="cate_list" role="tablist">
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','전체')" class="active">전체</a> <a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat4','밑반찬')">밑반찬</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','메인반찬')">메인반찬</a><a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat4','국/탕')">국/탕</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','찌개')">찌개</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','60')">디저트</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','면')">면/만두</a><a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat4','52')">밥/죽/떡</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','퓨전')">퓨전</a><a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat4','57')">김치/젓갈/장류</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','58')">양념/소스/잼</a><a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat4','65')">양식</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','64')">샐러드</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','68')">스프</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','66')">빵</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','69')">과자</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat4','59')">차/음료/술</a><a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat4','62')">기타</a>
    </div>

    <div class="cate_list" role="tablist">
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','전체')" class="active">전체</a> <a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat2','일상')">일상</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','초스피드')">초스피드</a> <a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat2','손님접대')">손님접대</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','술안주')">술안주</a> <a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat2','21')">다이어트</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','15')">도시락</a> <a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat2','43')">영양식</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','17')">간식</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','45')">야식</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','20')">푸드스타일링</a> <a aria-selected="false"  role="tab"
            href="javascript:goSearchRecipe('cat2','46')">해장</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','명절')">명절</a> <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','14')">이유식</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat2','22')">기타</a>
    </div>

    <div class="cate_list" role="tablist">
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','전체')" class="active">전체</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','소고기')">소고기</a> <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','71')">돼지고기</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','닭고기')">닭고기</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','23')">육류</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','채소류')">채소류</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','24')">해물류</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','50')">달걀/유제품</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','33')">가공식품류</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','47')">쌀</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','32')">밀가루</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','25')">건어물류</a><a aria-selected="false"  role="tab"  href="javascript:goSearchRecipe('cat3','31')">버섯류</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','48')">과일류</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','27')">콩/견과류</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','26')">곡류</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat3','34')">기타</a>
    </div>

    <div class="cate_list" role="tablist">
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','')" class="active">전체</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','6')">볶음</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','1')">끓이기</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','7')">부침</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','36')">조림</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','41')">무침</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','42')">비빔</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','8')">찜</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','10')">절임</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','9')">튀김</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','38')">삶기</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','67')">굽기</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','39')">데치기</a>
        <a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','37')">회</a><a aria-selected="false"  role="tab" href="javascript:goSearchRecipe('cat1','11')">기타</a>
    </div>
</div>
 <div id ="userbox">
              {{ user.username }}님 반갑습니다.
     <a class="rasipi-like">좋아하는 레시피</a>
 </div>

</div>
    <div id="my-rasipi-container">
    <li class ="rasipi_li_list">
        <div style="text-align: center;">마미추천 레시피</div>
        <div class="rasipi_img_box">
            <img class="rasipi_imgs" src="../static/img/mamiy_charic.png">
        </div>
        <div style="text-align: center;">마음에 들었으면 좋겠다이</div>
    </li>
     {% for t in like %}
            <li class="rasipi_li_list">
                <div class="rasipi_img_box">
                    <a class="rasipi_img" href="/detail/{{ t.id }}">
                        <img class="rasipi-imgs" src={{ t.img_src }}>
                    </a>
                </div>
                <div class=rasipi_comant_box">
                    <div class="rasipi_commant">
                        {{ t.title }}
                    </div>
                    <div class="name_box">
                        <img class="name_img" src={{ t.img_src }}> {{ t.tag }}
                    </div>
                </div>
            </li>
        {% endfor %}

    </div>
    <div id="rasipi_container">
        {% for tw in tweet %}
            <li class="rasipi_li_list">
                <div class="rasipi_img_box">
                    <a class="rasipi_img" href="/detail/{{ tw.id }}">
                        <img class="rasipi-imgs" src={{ tw.img_src }}>
                    </a>
                </div>
                <div class=rasipi_comant_box">
                    <div class="rasipi_commant">
                        {{ tw.title }}
                    </div>
                    <div class="name_box">
                        <img class="name_img" src={{ tw.img_src }}> {{ tw.tag }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </div>


    <div class="main-container" >
        <h1 id="recommend">회원님을 위한 추천 메뉴</h1>
        <div class="box">
            <a href=""><p id="name">이름 넣는 곳</p><img src="" alt="1"></a>
            <a href=""><p id="name"></p><img src="" alt="2"></a>
            <a href=""><p id="name"></p><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>


        <h1 id="sort">종류별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="condition">상황별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="ingredient">재료별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="way">방법별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="theme">테마별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>
        <!-- END OF MAIN CONTAINER -->
        <div class="footer">
            <p>&copy 2022 Mommyson Team 10 Inc.</p>
            <p>Babeun Mukgo Daninya</p>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}