{% extends "base.html" %}
{% load static %}
{% block title %}Main{% endblock %}

{% block head %}

 <link rel='stylesheet' href="{% static 'css/main.css' %}" media='screen'>
<script src="/static/js/main.js"></script>
{% endblock %}

{% block main %}
{#     <ul id=main_container>#}
{##}
{#        <!--   <div class ="rasipi_item"><div class ="rasipi_main"><p>fweffffffffffffffff</p></div></div>-->#}
{#    </ul>#}

    <!-- HEADER -->
    <div class="main">
        <div class="main-header">
            <div id="logo" href="/"><img src="../static/img/logo.png" alt="Logo Image"></div>
            <nav id="left-nav">
                <a href="">홈</a>
                <a href="">아침</a>
                <a href="">점심</a>
                <a href="">저녁</a>
                <a href="">디저트</a>
            </nav>
            <nav id="right-nav">
                <a href="#">🔍</a>
                <a href="#">My page</a>
            </nav>
        </div>
        <div id="message">
            MommySon comment 넣기 <br> 현두님의 마미손 활용 기대합니다!
        </div>
    </div>
    <!-- END OF HEADER -->

    <!-- MAIN CONTAINER -->
    <div class="main-container">
        <h1 id="recommend">회원님을 위한 추천 메뉴</h1>
        <div class="box">
            <a href=""><p id="name">이름 넣는 곳</p><img src="" alt="1"></a>
            <a href=""><p id="name"></p><img src="" alt="2"></a>
            <a href=""><p id="name"></p><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="sort">종류별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="condition">상황별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="ingredient">재료별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="way">방법별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>

        <h1 id="theme">테마별</h1>
        <div class="box">
            <a href=""><img src="" alt="1"></a>
            <a href=""><img src="" alt="2"></a>
            <a href=""><img src="" alt="3"></a>
            <a href=""><img src="" alt="4"></a>
            <a href=""><img src="" alt="5"></a>
            <a href=""><img src="" alt="6"></a>
            <a href=""><img src="" alt="7"></a>
        </div>
    <!-- END OF MAIN CONTAINER -->
    <div class="footer">
        <p>&copy 2022 Mommyson Team 10 Inc.</p>
        <p>Babeun Mukgo Daninya</p>
    </div>
</body>

{% endblock %}