{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block head %}

    <link rel='stylesheet' href="{% static 'css/signin.css' %}" media='screen'>

{% endblock %}

{% block main %}
<div class="container right-panel-active">
	<!-- Sign Up -->
    <div class="container__form container--signup">
        <form action="/sign-up/" method="post">
            <div class="form" id="sign_up_form">
                {% csrf_token %}
                <h2 class="form__title">회원가입</h2>
                <input type="text" placeholder="ID" class="input" name="username">
                <input type="email" placeholder="email" class="input" name="email">
                <input type="password" placeholder="Password" class="input" name="password">
                <input type="password" placeholder="Password2" class="input" name="password2">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </form>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
        <form action="/sign-in/" method="post">
            <div class="form" id="sign_in_form">
                {% csrf_token %}
                <a><h2 class="form__title">로그인</h2></a>
                <input type="text" placeholder="ID" class="input" name="username">
                <input type="password" placeholder="Password" class="input" name="password">
                <a href="/password_reset/" class="link">Forgot your password?</a>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <button type="submit" class="btn">Sign In</button>
            </div>
        </form>
    </div>

	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
				<button class="btn" id="signIn">Sign In</button>
			</div>
			<div class="overlay__panel overlay--right">
				<button class="btn" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

{#자바스크립트의 기본 위치는 js 파일에 따로 넣지않는 이상 무조건 최 하단에 위치하는게 맞다!#}
<script src="{% static 'js/signin.js' %}"></script>

</div>
{% endblock %}

